<section class="section">
  <div class="container">
    <div class="block">
      <h1 class="title">Create your event</h1>
    </div>
    <div class="block">
      <%= render 'events/form' %>
    </div>
    <div class="block">
      <%= link_to 'Back', root_path, class: "button is-link" %>
    </div>
  </div>
</section>